@font-face {
    font-family: adelia;
    src: url(../fonts/adelia.ttf);
}
body{
    font-size: 18px;
    font-family: inter;
    height: 100vh;
}
/* sit navbar top */
.navbar{
    z-index: 999;
    width: 100%;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-toggler{
    padding: 5px;
}
.navbar-brand img{
    width: 50px;
    border-radius: 100%;
}
.navbar-collapse{
    text-align: right;
}
.nav-item{
    text-align: right;
}
.nav-link{
    font-weight: bold;
    color: white !important;
    margin-left: 30px;
}
/*sit banner*/
.sit-banner-container{
    position: relative;
    height: 100%;
}
.sit-banner{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, black, rgba(253,4,127,0.6)), url(../img/year-end.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 50px;
    background-position: center;
}
.sit-banner h1{
    font-size: 4.5rem;
    width: 12ch;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
}
.sit-banner h3{
    font-weight: 700;
    line-height: 10px;

}
.sit-banner h4{
    font-weight: bold;
    font-family: adelia;
}
.sit-banner a.btn{
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

/*sit program*/
.sit-program{
    height: max-content;
    background-color: #fff;
    padding: 70px 0px;
    position: relative;
    
}
.sit-program p{
    width: 58ch;
}

/*mission-vision*/
.mission-vision{
    background-color: rgb(253,4,127);
    height: max-content;
    position: relative;
    color: white;
    padding: 40px 0;
    
}
.mission-vision h1{
    color: white;
    font-weight: 800;
    font-size: 3rem;
}
.mission{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.vision{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    min-height: 280px;
}
/*dean and faculty */

.dean-faculty{
    height: max-content;
    background-color: #fff;
    padding: 80px 10px;
}

/*card*/
.card{
    background-color: #500020;
    color: white;
    height: 500px;
    padding: 20px 5px;
    margin: 10px 10px;
}
.card h5,h6,p{
    display: inline-block;
}

.card .one{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.two{
    font-size: 1rem;
}
.card h6{
    font-weight: 700;
}
.card .one h5{
    font-weight: 700;
    line-height: 0;
}
.card .one p{
    font-weight: 600;
    line-height: 0;
}
.card ul li{
    background-color: transparent !important;
}

.card .one .faculty-img-grimaldo img{
    max-width: 80px;
    height: 70px;
    aspect-ratio: 16/9;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.card .one .faculty-img-naluz img{
    max-width: 80px;
    height: 70px;
    aspect-ratio: 16/9;
    border-radius: 50%;
    object-fit: fill;
}
.card .one .faculty-img-casiple img{
    max-width: 80px;
    height: 70px;
    aspect-ratio: 16/9;
    border-radius: 50%;
    object-fit: fill;
}
.card .one .faculty-img-navarro img{
    max-width: 80px;
    height: 70px;
    aspect-ratio: 16/9;
    border-radius: 50%;
    object-fit: fill;
  
}
.card .two{
    padding: 10px 0;
}

/*other styles*/
.lead-head{

    font-weight: 700;
    color: #500020;
    font-family: adelia;
    letter-spacing: 2px;
}
.lead-body{
    font-weight: 900;
    font-size: 3.2rem;
    width: 22ch;
    color: black;
}

/*awards*/
.awards{
    height: 100%;
    background-color: #fff;
    padding: 50px 20px !important;
    color: black;
    height: max-content;

}
.awards div h1.main-lead-b{
    width: 13ch;
}
.awards i{
    font-size: 50px;
    color: #500020;

}
.awards h3{
    max-width: 60ch;
    font-size: 1.1rem;
    margin-bottom: 30px !important;
}
.awards h3 i{
    font-size: 1rem;
    margin-right: 10px !important;
}
.awards h3 span{
    color: #500020;
    font-weight: bold;
}
.awards em{
    font-weight: bold;
}

/*equipment facility*/
.equipment-facility{
    background-color: rgba(253,4,127);
    height: max-content;
    padding: 50px 0;
}
.equipment-facility h1{
    width: 12ch;
}
.carousel-caption{
    background-color: rgba(0,0,0,.5);
    padding: 10px;
}
.carousel-item img{
    height: 400px;
}
.carousel-indicators li{
    margin: 3px;
}
.footer{
    background-color: #500020;
    height: max-content;
    width: 100%;
    padding: 20px 50px !important;
}
.footer img{
    width: 80px;
    border-radius: 50%;

}
.footer .logo{
    display: flex;
    align-items: center;
    height: 200px;
}
.footer .footer-text{
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
.footer .logo h5{
    color: white;
    font-weight: bold;
    margin-left: 20px;
    width: 22ch;
}
.footer .contact p{
    color: white;
}
.footer .contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    padding-top: 20px;
}
.footer .contact h5{
    color:white;
    font-weight: bold;

}


@media only screen and (max-width: 767px) {
    *{
        margin: 0 !important;
        padding: 0 !important;
    }
    body{
        font-size: 12px;
        overflow-x: hidden;
    }
    .navbar{
        padding: 20px !important;
        background-color: #000;
    }
    .nav-link{
        font-size: 1rem;
        margin-left: 20px !important;
    }
    .sit-banner{
        padding: 20px !important;
    }
    .sit-banner a.btn{
        padding: 10px !important;
    }
    .sit-program{
        padding: 20px !important;
    }
    .sit-program p{
        width: 100%;
        
    }
    .carousel-caption{
        background-color: rgba(0,0,0,.5);
        padding: 10px !important;
        display: block !important;
        
    }
    .mission-vision{
        padding: 40px 20px !important;
        height:max-content;
    }
    .carousel-indicators li{
        margin: 3px !important;
    }
    .mission-vision .vision{
        text-align: left;
        justify-content: center;
    }
    .dean-faculty{
        padding: 40px 20px !important;
    }
    .card{
        margin: 20px 0 !important;
        height: 400px;
        padding: 20px !important;
    }
    .card-body{
        margin-left: 30px !important;
    }
    .sit-banner h1{
        font-size: 2.4rem;
    }
    .sit-banner h4{
        font-size: 1rem !important;
    }
    .sit-banner h3{
        margin-bottom: 10px !important;
    }
    .equipment-facility{
        padding: 50px 20px !important;
    }
    .equipment-facility .ef-slides{
        margin-top: 20px !important;
    }
    .awards{
        height: max-content;
    }
    .card .one .faculty-img-naluz img,.card .one .faculty-img-casiple img,.card .one .faculty-img-navarro img,.card .one .faculty-img-grimaldo img{
        height: 70px;
        width: 70px;
    }
    .lead-head{
        font-size: 1.4rem;
    }
    .lead-body{
        font-size: 1.8rem !important;
        max-width: 16ch;
    }
    .footer{
        text-align: center;
    }
    .footer .logo{
        flex-direction: column;
        height: max-content;
        padding: 10px 0 !important;
    }
    .footer .logo img{
        margin-bottom: 10px !important;
    }
    .footer .contact{
        height: max-content;
        margin-bottom: 10px !important;
    }
}
